In [1]:
import numpy as np

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

sns.set() 

import json
import requests

plt.rcParams['font.family']= 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

In [2]:
import chart_studio.plotly as ply
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
from plotly.subplots import make_subplots

In [3]:
import plotly as ply
import plotly.graph_objects as go
import chart_studio.plotly as py
from plotly.subplots import make_subplots # 서브플롯을 만들기 위헤
import plotly.graph_objects as go

import chart_studio
chart_studio.tools.set_credentials_file(username='blueblue987', api_key='AJEgsS6al89p7UzgkTjj')

# 주민등록 인구 데이터 로드

In [4]:
podf = pd.read_csv('./주민등록인구_20230227114448.csv',encoding='UTF-8')
# podf.head()

In [5]:
podf.columns=podf.iloc[0].tolist()
podf.columns

Index(['시점', '구분별(1)', '소계', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구',
       '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구',
       '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'],
      dtype='object')

In [6]:
podf = podf.drop(0,axis=0)

In [7]:
podf = podf.drop('구분별(1)',axis=1)
podf.head()

,시점,소계,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
1,2016 1/4,10282821,163993,134436,247297,304565,374798,373657,418341,468699,...,597473,454252,255274,417209,413282,530072,450085,578862,663904,459750
2,2016 2/4,10260972,163235,134175,246934,305525,374053,372214,418134,467142,...,598190,453526,254662,414901,413969,529254,450005,576413,662605,455444
3,2016 3/4,10236408,162957,134463,246317,305506,373680,371253,416887,464505,...,599611,451754,253667,410757,414261,528187,450906,574974,662413,452299
4,2016 4/4,10204057,161922,134409,245102,307161,372104,370312,415677,461617,...,602104,449600,254654,406779,413247,525607,451477,572140,664946,448471
5,2017 1/4,10197604,162820,133240,244203,311244,372164,369496,414503,461260,...,603772,447874,255082,402985,412520,525515,450310,570500,667483,453233

In [8]:
podf = podf.drop('소계', axis=1)
podf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 1 to 23
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시점      23 non-null     object
 1   종로구     23 non-null     object
 2   중구      23 non-null     object
 3   용산구     23 non-null     object
 4   성동구     23 non-null     object
 5   광진구     23 non-null     object
 6   동대문구    23 non-null     object
 7   중랑구     23 non-null     object
 8   성북구     23 non-null     object
 9   강북구     23 non-null     object
 10  도봉구     23 non-null     object
 11  노원구     23 non-null     object
 12  은평구     23 non-null     object
 13  서대문구    23 non-null     object
 14  마포구     23 non-null     object
 15  양천구     23 non-null     object
 16  강서구     23 non-null     object
 17  구로구     23 non-null     object
 18  금천구     23 non-null     object
 19  영등포구    23 non-null     object
 20  동작구     23 non-null     object
 21  관악구     23 non-null     object
 22  서초구     23 non-null     object
 23  강남구     23 non-null     object
 24  송파구     23 non-null     object
 25  강동구     23 non-null     object
dtypes: object(26)
memory usage: 4.8+ KB

In [9]:
podf.rename(columns = {'시점' : '분기'}, inplace = True)

In [10]:
col_nm = ['종로구','중구','용산구','성동구','광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', 
 '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구']

In [11]:
for col in col_nm:
    podf[col_nm] = podf[col_nm].astype('int')

In [12]:
mean_list = []
for col in col_nm:
    mean_list.append(round(podf[col].mean()))
print(mean_list)

[161685, 134757, 244620, 308139, 367772, 363790, 407332, 454056, 321671, 339619, 548445, 488769, 323952, 386540, 469296, 598398, 440015, 251921, 405136, 408032, 518948, 439103, 555052, 672420, 449191]

In [13]:
podf.loc[24] =['mean',161685, 134757, 244620, 308139, 367772, 363790, 407332, 454056, 321671, 339619, 548445, 488769, 323952, 386540, 469296, 598398, 440015, 251921, 405136, 408032, 518948, 439103, 555052, 672420, 449191]
podf.tail()

,분기,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
20,2020 4/4,158996,134635,244645,300505,360109,357014,399562,447056,311569,...,585901,432488,247835,407367,401572,509803,429025,544055,673926,463998
21,2021 1/4,156567,133708,243336,298421,356191,352570,396807,444295,307537,...,582804,426675,244564,403070,398205,504140,425103,539538,667115,468815
22,2021 2/4,155106,132259,240665,295767,355306,352259,394679,443206,306093,...,582995,424582,244685,402375,397231,502698,422174,536107,664341,469094
23,2021 3/4,154318,131943,238300,294140,353380,351626,393149,441717,304257,...,581265,422361,244887,401814,396122,501572,420045,538075,664996,467997
24,mean,161685,134757,244620,308139,367772,363790,407332,454056,321671,...,598398,440015,251921,405136,408032,518948,439103,555052,672420,449191

In [14]:
podf.columns

Index(['분기', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구',
       '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'],
      dtype='object')

In [15]:
mean_list : podf.loc[24].tolist()
mean_list

[161685,
 134757,
 244620,
 308139,
 367772,
 363790,
 407332,
 454056,
 321671,
 339619,
 548445,
 488769,
 323952,
 386540,
 469296,
 598398,
 440015,
 251921,
 405136,
 408032,
 518948,
 439103,
 555052,
 672420,
 449191]

In [16]:
mean_data = pd.DataFrame(mean_list, index = ['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구',
       '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'])

In [17]:
mean_data

           0
종로구   161685
중구    134757
용산구   244620
성동구   308139
광진구   367772
동대문구  363790
중랑구   407332
성북구   454056
강북구   321671
도봉구   339619
노원구   548445
은평구   488769
서대문구  323952
마포구   386540
양천구   469296
강서구   598398
구로구   440015
금천구   251921
영등포구  405136
동작구   408032
관악구   518948
서초구   439103
강남구   555052
송파구   672420
강동구   449191

In [18]:
# mean_data.to_csv("../소비패턴_project/mean_data.csv", header=True, sep='/')

# 지역구별 카드소비데이터 로드

In [19]:
cddf = pd.read_csv('./집계구별 일별소비지역별 카드소비패턴.csv',encoding='cp949')
cddf.head()

,가맹점주소광역시도(SIDO),가맹점주소시군구(SGG),업종대분류(UPJONG_CLASS1),기준일자(YMD),고객주소집계구별(TOT_REG_CD),카드이용금액계(AMT_CORR),카드이용건수계(USECT_CORR)
0,서울,강남구,전자상거래,20201021,1123077020119,251500,25
1,서울,관악구,요식/유흥,20170312,1112052010107,158445,20
2,서울,마포구,주유,20161205,1113068050004,8048,15
3,서울,동작구,의료,20201210,1105066020601,22635,5
4,서울,NaN,가정생활/서비스,20210216,1117052020001,65390,10

In [20]:
cddf = pd.DataFrame(cddf)
cddf.head()

,가맹점주소광역시도(SIDO),가맹점주소시군구(SGG),업종대분류(UPJONG_CLASS1),기준일자(YMD),고객주소집계구별(TOT_REG_CD),카드이용금액계(AMT_CORR),카드이용건수계(USECT_CORR)
0,서울,강남구,전자상거래,20201021,1123077020119,251500,25
1,서울,관악구,요식/유흥,20170312,1112052010107,158445,20
2,서울,마포구,주유,20161205,1113068050004,8048,15
3,서울,동작구,의료,20201210,1105066020601,22635,5
4,서울,NaN,가정생활/서비스,20210216,1117052020001,65390,10

In [21]:
cddf = cddf.dropna()

In [22]:
drop_idx = cddf[cddf['가맹점주소광역시도(SIDO)']!='서울'].index.tolist()

In [23]:
cddf = cddf.drop(drop_idx, axis = 0)

In [24]:
cddf = cddf.drop('고객주소집계구별(TOT_REG_CD)', axis = 1)
cddf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 321 entries, 0 to 498
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   가맹점주소광역시도(SIDO)       321 non-null    object
 1   가맹점주소시군구(SGG)         321 non-null    object
 2   업종대분류(UPJONG_CLASS1)  321 non-null    object
 3   기준일자(YMD)             321 non-null    int64
 4   카드이용금액계(AMT_CORR)     321 non-null    int64
 5   카드이용건수계(USECT_CORR)   321 non-null    int64
dtypes: int64(3), object(3)
memory usage: 17.6+ KB

In [25]:
cddf['업종대분류(UPJONG_CLASS1)'] = cddf['업종대분류(UPJONG_CLASS1)'].replace(['가전/가구','가정생활/서비스'],'가정생활')
cddf['업종대분류(UPJONG_CLASS1)'] = cddf['업종대분류(UPJONG_CLASS1)'].replace('교육/학원','교육')
cddf['업종대분류(UPJONG_CLASS1)'] = cddf['업종대분류(UPJONG_CLASS1)'].replace(['스포츠/문화/레저','여행/교통'],'문화')
cddf['업종대분류(UPJONG_CLASS1)'] = cddf['업종대분류(UPJONG_CLASS1)'].replace(['주유','자동차'],'교통')
cddf['업종대분류(UPJONG_CLASS1)'] = cddf['업종대분류(UPJONG_CLASS1)'].replace(['요식/유흥','음/식료품'],'식품')
cddf['업종대분류(UPJONG_CLASS1)'] = cddf['업종대분류(UPJONG_CLASS1)'].replace(['의류/잡화','미용'],'패션')
cddf['업종대분류(UPJONG_CLASS1)'].value_counts()

식품       92
유통       75
전자상거래    46
교통       26
가정생활     26
문화       25
의료       22
패션        7
교육        2
Name: 업종대분류(UPJONG_CLASS1), dtype: int64

In [26]:
cddf['기준일자(YMD)'] = cddf['기준일자(YMD)'].astype(str)
cddf['y'] = cddf['기준일자(YMD)'].str[0:4]
cddf['m'] =cddf['기준일자(YMD)'].str[4:6]
cddf['d'] =cddf['기준일자(YMD)'].str[6:8]

cddf.head()

,가맹점주소광역시도(SIDO),가맹점주소시군구(SGG),업종대분류(UPJONG_CLASS1),기준일자(YMD),카드이용금액계(AMT_CORR),카드이용건수계(USECT_CORR),y,m,d
0,서울,강남구,전자상거래,20201021,251500,25,2020,10,21
1,서울,관악구,식품,20170312,158445,20,2017,03,12
2,서울,마포구,교통,20161205,8048,15,2016,12,05
3,서울,동작구,의료,20201210,22635,5,2020,12,10
9,서울,중구,유통,20170405,182710,15,2017,04,05

In [27]:
cddf['분기'] = cddf['m']
cddf['분기'] = cddf['분기'].replace(['01','02','03'],'1/4')
cddf['분기'] = cddf['분기'].replace(['04','05','06'],'2/4')
cddf['분기'] = cddf['분기'].replace(['07','08','09'],'3/4')
cddf['분기'] = cddf['분기'].replace(['10','11','12'],'4/4')
cddf.head()

,가맹점주소광역시도(SIDO),가맹점주소시군구(SGG),업종대분류(UPJONG_CLASS1),기준일자(YMD),카드이용금액계(AMT_CORR),카드이용건수계(USECT_CORR),y,m,d,분기
0,서울,강남구,전자상거래,20201021,251500,25,2020,10,21,4/4
1,서울,관악구,식품,20170312,158445,20,2017,03,12,1/4
2,서울,마포구,교통,20161205,8048,15,2016,12,05,4/4
3,서울,동작구,의료,20201210,22635,5,2020,12,10,4/4
9,서울,중구,유통,20170405,182710,15,2017,04,05,2/4

In [28]:
cddf['분기'] = cddf['y'] + ' ' + cddf['분기']
cddf.head()

,가맹점주소광역시도(SIDO),가맹점주소시군구(SGG),업종대분류(UPJONG_CLASS1),기준일자(YMD),카드이용금액계(AMT_CORR),카드이용건수계(USECT_CORR),y,m,d,분기
0,서울,강남구,전자상거래,20201021,251500,25,2020,10,21,2020 4/4
1,서울,관악구,식품,20170312,158445,20,2017,03,12,2017 1/4
2,서울,마포구,교통,20161205,8048,15,2016,12,05,2016 4/4
3,서울,동작구,의료,20201210,22635,5,2020,12,10,2020 4/4
9,서울,중구,유통,20170405,182710,15,2017,04,05,2017 2/4

In [29]:
cddf = cddf.sort_values('분기')
cddf.head()

,가맹점주소광역시도(SIDO),가맹점주소시군구(SGG),업종대분류(UPJONG_CLASS1),기준일자(YMD),카드이용금액계(AMT_CORR),카드이용건수계(USECT_CORR),y,m,d,분기
29,서울,가평군,유통,20160219,29677,10,2016,02,19,2016 1/4
65,서울,노원구,가정생활,20160109,20120,5,2016,01,09,2016 1/4
432,서울,서대문구,유통,20160206,237919,50,2016,02,06,2016 1/4
477,서울,강남구,식품,20160323,125800,5,2016,03,23,2016 1/4
126,서울,양천구,의료,20160217,251500,5,2016,02,17,2016 1/4

In [30]:
cddf = cddf.drop(['y','m','d','분기'], axis = 
                1)

In [31]:
cddf = cddf.drop('기준일자(YMD)', axis = 1)
cddf.head()

,가맹점주소광역시도(SIDO),가맹점주소시군구(SGG),업종대분류(UPJONG_CLASS1),카드이용금액계(AMT_CORR),카드이용건수계(USECT_CORR)
29,서울,가평군,유통,29677,10
65,서울,노원구,가정생활,20120,5
432,서울,서대문구,유통,237919,50
477,서울,강남구,식품,125800,5
126,서울,양천구,의료,251500,5

In [32]:
cddf.to_csv('../소비패턴_project/cddf.csv', header = True, sep = '/')